[submodule "diagrams"]
	path = diagrams
	url = https://github.com/mingrammer/diagrams.git
[submodule "pystructurizr"]
	path = pystructurizr
	url = https://github.com/nielsvanspauwen/pystructurizr.git
[submodule "modinit"]
	path = modinit
	url = https://github.com/eddiegulay/modinit.git
[submodule "ml-pipeline-generator-python"]
	path = ml-pipeline-generator-python
	url = https://github.com/GoogleCloudPlatform/ml-pipeline-generator-python.git
