[submodule "diagrams"]
	path = diagrams
	url = https://github.com/mingrammer/diagrams.git
[submodule "pystructurizr"]
	path = pystructurizr
	url = https://github.com/nielsvanspauwen/pystructurizr.git
[submodule "modinit"]
	path = modinit
	url = https://github.com/eddiegulay/modinit.git
